*{
   
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    
}


.text-primary{
    color: #FD6E0A;
}
.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 15px 35px;
    border: 0;
    color: #fff;
    font-weight: 800;
    font-size: 20px;
}
.btn-secondary{
    background-color: #FFF8F3;
    border-radius: 5px;
    padding: 15px 35px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

.portfolio-title{
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
    margin-right: 30px;
    font-family: normal;
    color: black;
}

.header{
    background-color: #fff8f3;
}

.banner{
    padding: 30px 150px;
}